# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]evelopment/
[Dd]ebug-windows/
[Dd]ebug-linux/
[Dd]ebug-osx/
bin/
obj/

# User-specific files
.vs/
.vscode/
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files (Installer projects)
*.wixpdb

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
# Windows Installer files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.sql

# JetBrains Rider
.idea/

# User-specific files
# macOS Finder directory metadata
.DS_Store
